.Navbar-li {
  margin-left: 20px;
  border-left: 2px solid rgb(255, 190, 13);
  background: rgba(0, 0, 0, 0.9);
}
.button-task {
  height: 25px;
  color: black;
  background-color: rgb(255, 190, 13);
}
