.Navbar-li {
  margin-left: 20px;
  border-left: 2px solid rgb(255, 190, 13);
  background: rgba(0, 0, 0, 0.9);
}
.priority {
  border: 2px solid rgb(255, 190, 13);
  color: white;
  background-color: rgba(54, 54, 54, 0.9);
}
