body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 1200px;
  max-height: 850px;
  margin: auto;
  background-image: url(components/assets/inline_image_preview.avif);
}
